.calculator{
    background-color: rgb(91, 110, 69);
}
.calc{
    background-color: rgb(100, 26, 26);
    padding:10px;
    border-radius: 50PX;
}
input{
    text-align: right;
    border:1px solid #ccc;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    margin: 10px;
}
button{
    background-color: rgb(88, 83, 83);
    padding:25px;
    border-radius:15px;
    
}
.button{
    content: 20px; 
    margin: 5px;
}
